.nav {
  margin: auto;
  justify-content: center;
}

.navItem {
  outline: none;
}

.navItem:focus {
  outline: none;
}

.content {
  position: relative;
}

.leftMenu {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  background: #333;
}

.leftMenuIcon {
  display: block;
}

.expandedLeftMenu {
  padding: 10px;
  background: #ccc;
  height: 100%;
}

.toolItem {
  border: 1px solid #000;
  padding: 5px;
  cursor: pointer;
}

.toolItem:hover {
  background: #aaa;
}


.rightMenu {
  position: absolute;
  right: 0;
  top: 0;
}

.sideSelector {
  max-width: 100px;
  margin-left: 5px;
}

.sideMenuText {
  width: 130px;
}

.sideSelectorMenu {
  margin-top: 10px;
  max-width: 240px;
  position: absolute;
  display: flex;
  left: 50%;
  margin-left: -105px;
  z-index: 2;
}
